<!doctype html>
<html>
  <head>
    <title>Matter-influx: add device</title>
  </head>

  <body>
    <h1>Add device</h1>

    {% if let Some(error) = error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post">
      <ul>
        <li>
          <label for="pairing_code">Pairing code</label>
          <input
            name="pairing_code"
            id="pairing_code"
            type="text"
            required="required"
            value="{{ form.pairing_code }}"
          />
        </li>
        <li>
          <label for="name">Name</label>
          <input
            name="name"
            id="name"
            type="text"
            required="required"
            value="{{ form.name }}"
          />
        </li>
      </ul>
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
