<!doctype html>
<html>
  <head>
    <title>Matter-influx</title>
  </head>

  <body>
    <h1>Matter-influx</h1>

    <h2>Devices</h2>

    <ul>
      {% for node in nodes %}
      <li>
        {{ node.node.node_id}}: {{ node.node.label.as_ref().unwrap() }}
        <ul>
          {% if let Some(error) = node.error %}
          <li class="error">{{ error }}</li>
          {% endif %} {% for info in node.info %}
          <li>{{ info }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <ul>
      <li><a href="/commission">Add device</a></li>
    </ul>
  </body>
</html>
