<!doctype html>
<html>
  <head>
    <title>Matter-influx</title>
  </head>

  <body>
    <h1>Matter-influx</h1>

    <h2>Devices</h2>

    <ul>
      {% for device in devices %}
      <li>
        {{ device.device.node_id}}: {{ device.device.name }} ({{
        device.device.address }})
        <ul>
          {% if let Some(error) = device.error %}
          <li class="error">{{ error }}</li>
          {% endif %} {% for info in device.info %}
          <li>{{ info }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <ul>
      <li><a href="/commission">Add device</a></li>
    </ul>
  </body>
</html>
